/* Sobreposição */
.sub-header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 20px;

  color: white;
}
/* Fim Sobreposição */

/* Navegação em Blocos */
#navegacaoBlocos {
  padding-top: 70px;
}

.title-container {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.8px;

  margin: 0;
}

.icone-title-container {
  width: 40px;
  margin-left: 30px;
  position: relative;
  top: 2px;
}
/* Fim Navegação em Blocos */

/* Media Queries para tablets ou maior */
@media (min-width: 768px) {
  /* Navegação em Blocos */
  .blocos {
    flex-direction: column;
    gap: 25px;
  }

  .bloco {
    width: 50%;
  }
  /* Fim Navegação em Blocos */
}

/* Media Queries para SmartPhones Grandes ou menor */
@media (max-width: 767.98px) {
  /* Sobreposição */
  #navegacaoBlocos {
    padding-top: 50px;
  }

  .blocos {
    gap: 20px;
  }

  .bloco {
    width: 90%;
    padding: 15px 15px;
  }
  /* Fim Sobreposição */
}