/* Gerais */
body {
  display: flex;
  flex-direction: column;

  max-width: 100vw;
  min-height: 100vh;

  background-color: #526754;
}

/* Ocupar todo o espaço restante */
.full-content{
  flex: 1;
}

/* Cabeçalho */
#headerPage {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 30px;
  padding-bottom: 25px;
}

.titulo-header {
  font-size: 1.5rem;
  letter-spacing: 0.8px;
  color: #fefefe;
  font-weight: 400;

  margin: 0;
}

.container-button {
  position: relative;
  background-color: #e9e8e9;
  padding: 2px 22px;
  border-radius: 20px;

  transition: background 0.3s;
}

.container-button:hover {
  background-color: #d7d7d7;
  text-decoration: none;
}

.icon-arrow {
  width: 55px;
  height: 30px;
}

.texto-voltar {
  position: absolute;
  top: 0.5px;
  right: 22px;
  font-size: 0.9rem;
  color: #576b59;
  font-weight: 500;
}
/* Fim Cabeçalho */

/* Sub Header */
.sub-header {
  padding-bottom: 50px;
}

.blocos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.bloco {
  background-color: white;
  border-radius: 25px;
  padding: 10px 20px;

  display: flex;
  align-items: center;
}

a.bloco:hover {
  text-decoration: none;
  background-color: #eeecec;
}

.texto-bloco {
  font-weight: 700;
  letter-spacing: 0.6px;
  color: #576b59;

  margin: 0;
}

.icone-bloco {
  width: 30px;
  margin: 2px 0 0 20px;
}
/* Fim Sub Header */

/* Tabela */
.loading {
  position: absolute;
  width: 100%;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container-tabela {
  display: none;
}

.table-responsive {
  position: relative;
  overflow-y: hidden;
}

.tabela-fake {
  position: absolute;
  background: url('../images/bg-tabela.png');
  width: 100%;
  height: 524px;
  z-index: -1;

  border-radius: 0 0 20px 20px;
}

.tabela-customizada {
  background-color: white;
  border-radius: 20px;
  text-align: left;
  margin: 0;
}

.tabela-customizada.active-tabela-fake {
  border-radius: 20px 20px 0 0;
}

.tabela-customizada thead th {
  color: #526754;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.tabela-customizada thead th.coluna-grande {
  min-width: 140px;
}

.tabela-customizada tr {
  color: #000000;
}

.tabela-customizada tr td.negativo {
  color: #b12e2b;
}

.tabela-customizada tbody tr:nth-child(2n - 1) {
  background-color: #b8cbba;
}
/* Fim tabela */

/* Rodapé */
footer {
  padding: 5px;
  background-color: #292369;

  margin-top: 25px;
}

#footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-footer {
  color: #eee7e7f7;
  font-size: 1.3rem;
  margin: 0;
}

.logo-footer {
  width: 85px;
}

/* Fim Rodapé */

/* Media Queries Tablets ou menor */
@media (max-width: 767.98px) {
  /* Sub Header */
  .blocos {
    flex-direction: column;
    gap: 15px;
  }

  .bloco.icone {
    width: 90%;
    padding: 6px 13px;
    justify-content: space-between;
  }

  .texto-bloco {
    font-size: 1rem;
  }
  /* Fim Sub Header */

  /* Tabela */
  .tabela-customizada thead th {
    font-size: 16px;
    letter-spacing: 0.6px;
  }

  .tabela-customizada tr {
    font-size: 14px;
  }
  /* Fim Tabela */
}

/* Media Queries Smartphones ou menor */
@media (max-width: 575.98px) { 
  /* Cabeçalho */
  .container-button {
    padding: 1px 18px;
  }

  .texto-voltar {
    top: 0;
    right: 18px;
  }
  /* Fim Cabeçalho */

  /* Sub Header */
  .bloco {
    width: 95%;
  }
  /* Fim Sub Header */
}