/* Gerais */
body {
  max-width: 100vw;
  min-height: 100vh;

  background-color: #526754;
}

/* Logo Fixa */
.logo-fixed {
  display: none;

  width: 85px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 2;
}

/* Media Queries Customizado para logo fixa */
@media (min-width: 1300px) {
  .logo-fixed {
    display: block;
  }
}